*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#box {
    height: 10vh;
    width: 10vw;
    position: absolute;
    background-color: salmon;
    border: 2px brown solid;
}